
<html>
    <head>
        <style>
            .red {
                background-color:red;
                color:white;
            }
        </style>
    </head>
    <body>
        @RenderBody()
    </body>
</html>